:root{
    --bold: 600;
    --body-background:rgb(240, 250, 255);
    --body-text-color: rgb(0, 50, 75);

}

body{
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto 50px;
    padding: 15px;
    background:var(--body-background);
    color: var(--body-text-color);

}

dt{
    font-weight: var(--bold);
    text-decoration: underline;
}

dd{
    font-style: italic;
    font-weight: var(--bold);
}